Eventkalender.WS.Console/Connected Services/CronusReference/CronusService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.ics.lu.se.cali/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.ics.lu.se.cali/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ics.lu.se.cali/">
      <s:element name="GetKeys">
        <s:complexType />
      </s:element>
      <s:element name="GetKeysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetKeysResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetIndexes">
        <s:complexType />
      </s:element>
      <s:element name="GetIndexesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIndexesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTableConstraints">
        <s:complexType />
      </s:element>
      <s:element name="GetTableConstraintsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTableConstraintsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTables">
        <s:complexType />
      </s:element>
      <s:element name="GetTablesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTablesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetColumnsForEmployeeTable">
        <s:complexType />
      </s:element>
      <s:element name="GetColumnsForEmployeeTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetColumnsForEmployeeTableResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIllestPerson">
        <s:complexType />
      </s:element>
      <s:element name="GetIllestPersonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIllestPersonResult" type="tns:DataTuple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DataTuple">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Entry" type="tns:SerializableKeyValuePairOfStringString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SerializableKeyValuePairOfStringString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetIllPersonsByYear">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="startYear" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="endYear" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIllPersonsByYearResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIllPersonsByYearResult" type="tns:ArrayOfDataTuple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDataTuple">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DataTuple" nillable="true" type="tns:DataTuple" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEmployeeAndRelatves">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeAndRelatvesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeAndRelatvesResult" type="tns:ArrayOfDataTuple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeData">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeDataResult" type="tns:ArrayOfDataTuple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeAbsenceData">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeAbsenceDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeAbsenceDataResult" type="tns:ArrayOfDataTuple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeRelativeData">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeRelativeDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeRelativeDataResult" type="tns:ArrayOfDataTuple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeQualificationData">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeQualificationDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeQualificationDataResult" type="tns:ArrayOfDataTuple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeePortalSetupData">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeePortalSetupDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeePortalSetupDataResult" type="tns:ArrayOfDataTuple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeStatisticsGroupData">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeStatisticsGroupDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeStatisticsGroupDataResult" type="tns:ArrayOfDataTuple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeMetaData">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeMetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeMetaDataResult" type="tns:ArrayOfDataTuple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeAbsenceMetaData">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeAbsenceMetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeAbsenceMetaDataResult" type="tns:ArrayOfDataTuple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeRelativeMetaData">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeRelativeMetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeRelativeMetaDataResult" type="tns:ArrayOfDataTuple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeQualificationMetaData">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeQualificationMetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeQualificationMetaDataResult" type="tns:ArrayOfDataTuple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeePortalSetupMetaData">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeePortalSetupMetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeePortalSetupMetaDataResult" type="tns:ArrayOfDataTuple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeStatisticsGroupMetaData">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeStatisticsGroupMetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeStatisticsGroupMetaDataResult" type="tns:ArrayOfDataTuple" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetKeysSoapIn">
    <wsdl:part name="parameters" element="tns:GetKeys" />
  </wsdl:message>
  <wsdl:message name="GetKeysSoapOut">
    <wsdl:part name="parameters" element="tns:GetKeysResponse" />
  </wsdl:message>
  <wsdl:message name="GetIndexesSoapIn">
    <wsdl:part name="parameters" element="tns:GetIndexes" />
  </wsdl:message>
  <wsdl:message name="GetIndexesSoapOut">
    <wsdl:part name="parameters" element="tns:GetIndexesResponse" />
  </wsdl:message>
  <wsdl:message name="GetTableConstraintsSoapIn">
    <wsdl:part name="parameters" element="tns:GetTableConstraints" />
  </wsdl:message>
  <wsdl:message name="GetTableConstraintsSoapOut">
    <wsdl:part name="parameters" element="tns:GetTableConstraintsResponse" />
  </wsdl:message>
  <wsdl:message name="GetTablesSoapIn">
    <wsdl:part name="parameters" element="tns:GetTables" />
  </wsdl:message>
  <wsdl:message name="GetTablesSoapOut">
    <wsdl:part name="parameters" element="tns:GetTablesResponse" />
  </wsdl:message>
  <wsdl:message name="GetColumnsForEmployeeTableSoapIn">
    <wsdl:part name="parameters" element="tns:GetColumnsForEmployeeTable" />
  </wsdl:message>
  <wsdl:message name="GetColumnsForEmployeeTableSoapOut">
    <wsdl:part name="parameters" element="tns:GetColumnsForEmployeeTableResponse" />
  </wsdl:message>
  <wsdl:message name="GetIllestPersonSoapIn">
    <wsdl:part name="parameters" element="tns:GetIllestPerson" />
  </wsdl:message>
  <wsdl:message name="GetIllestPersonSoapOut">
    <wsdl:part name="parameters" element="tns:GetIllestPersonResponse" />
  </wsdl:message>
  <wsdl:message name="GetIllPersonsByYearSoapIn">
    <wsdl:part name="parameters" element="tns:GetIllPersonsByYear" />
  </wsdl:message>
  <wsdl:message name="GetIllPersonsByYearSoapOut">
    <wsdl:part name="parameters" element="tns:GetIllPersonsByYearResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeAndRelatvesSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeAndRelatves" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeAndRelatvesSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeAndRelatvesResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeData" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeAbsenceDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeAbsenceData" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeAbsenceDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeAbsenceDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeRelativeDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeRelativeData" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeRelativeDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeRelativeDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeQualificationDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeQualificationData" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeQualificationDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeQualificationDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeePortalSetupDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeePortalSetupData" />
  </wsdl:message>
  <wsdl:message name="GetEmployeePortalSetupDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeePortalSetupDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeStatisticsGroupDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeStatisticsGroupData" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeStatisticsGroupDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeStatisticsGroupDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeMetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeMetaData" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeMetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeMetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeAbsenceMetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeAbsenceMetaData" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeAbsenceMetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeAbsenceMetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeRelativeMetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeRelativeMetaData" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeRelativeMetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeRelativeMetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeQualificationMetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeQualificationMetaData" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeQualificationMetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeQualificationMetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeePortalSetupMetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeePortalSetupMetaData" />
  </wsdl:message>
  <wsdl:message name="GetEmployeePortalSetupMetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeePortalSetupMetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeStatisticsGroupMetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeStatisticsGroupMetaData" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeStatisticsGroupMetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeStatisticsGroupMetaDataResponse" />
  </wsdl:message>
  <wsdl:portType name="CronusServiceSoap">
    <wsdl:operation name="GetKeys">
      <wsdl:input message="tns:GetKeysSoapIn" />
      <wsdl:output message="tns:GetKeysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexes">
      <wsdl:input message="tns:GetIndexesSoapIn" />
      <wsdl:output message="tns:GetIndexesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTableConstraints">
      <wsdl:input message="tns:GetTableConstraintsSoapIn" />
      <wsdl:output message="tns:GetTableConstraintsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTables">
      <wsdl:input message="tns:GetTablesSoapIn" />
      <wsdl:output message="tns:GetTablesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetColumnsForEmployeeTable">
      <wsdl:input message="tns:GetColumnsForEmployeeTableSoapIn" />
      <wsdl:output message="tns:GetColumnsForEmployeeTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIllestPerson">
      <wsdl:input message="tns:GetIllestPersonSoapIn" />
      <wsdl:output message="tns:GetIllestPersonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIllPersonsByYear">
      <wsdl:input message="tns:GetIllPersonsByYearSoapIn" />
      <wsdl:output message="tns:GetIllPersonsByYearSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAndRelatves">
      <wsdl:input message="tns:GetEmployeeAndRelatvesSoapIn" />
      <wsdl:output message="tns:GetEmployeeAndRelatvesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeData">
      <wsdl:input message="tns:GetEmployeeDataSoapIn" />
      <wsdl:output message="tns:GetEmployeeDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAbsenceData">
      <wsdl:input message="tns:GetEmployeeAbsenceDataSoapIn" />
      <wsdl:output message="tns:GetEmployeeAbsenceDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeRelativeData">
      <wsdl:input message="tns:GetEmployeeRelativeDataSoapIn" />
      <wsdl:output message="tns:GetEmployeeRelativeDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeQualificationData">
      <wsdl:input message="tns:GetEmployeeQualificationDataSoapIn" />
      <wsdl:output message="tns:GetEmployeeQualificationDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeePortalSetupData">
      <wsdl:input message="tns:GetEmployeePortalSetupDataSoapIn" />
      <wsdl:output message="tns:GetEmployeePortalSetupDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeStatisticsGroupData">
      <wsdl:input message="tns:GetEmployeeStatisticsGroupDataSoapIn" />
      <wsdl:output message="tns:GetEmployeeStatisticsGroupDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeMetaData">
      <wsdl:input message="tns:GetEmployeeMetaDataSoapIn" />
      <wsdl:output message="tns:GetEmployeeMetaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAbsenceMetaData">
      <wsdl:input message="tns:GetEmployeeAbsenceMetaDataSoapIn" />
      <wsdl:output message="tns:GetEmployeeAbsenceMetaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeRelativeMetaData">
      <wsdl:input message="tns:GetEmployeeRelativeMetaDataSoapIn" />
      <wsdl:output message="tns:GetEmployeeRelativeMetaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeQualificationMetaData">
      <wsdl:input message="tns:GetEmployeeQualificationMetaDataSoapIn" />
      <wsdl:output message="tns:GetEmployeeQualificationMetaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeePortalSetupMetaData">
      <wsdl:input message="tns:GetEmployeePortalSetupMetaDataSoapIn" />
      <wsdl:output message="tns:GetEmployeePortalSetupMetaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeStatisticsGroupMetaData">
      <wsdl:input message="tns:GetEmployeeStatisticsGroupMetaDataSoapIn" />
      <wsdl:output message="tns:GetEmployeeStatisticsGroupMetaDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CronusServiceSoap" type="tns:CronusServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetKeys">
      <soap:operation soapAction="http://www.ics.lu.se.cali/GetKeys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexes">
      <soap:operation soapAction="http://www.ics.lu.se.cali/GetIndexes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTableConstraints">
      <soap:operation soapAction="http://www.ics.lu.se.cali/GetTableConstraints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTables">
      <soap:operation soapAction="http://www.ics.lu.se.cali/GetTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetColumnsForEmployeeTable">
      <soap:operation soapAction="http://www.ics.lu.se.cali/GetColumnsForEmployeeTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIllestPerson">
      <soap:operation soapAction="http://www.ics.lu.se.cali/GetIllestPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIllPersonsByYear">
      <soap:operation soapAction="http://www.ics.lu.se.cali/GetIllPersonsByYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAndRelatves">
      <soap:operation soapAction="http://www.ics.lu.se.cali/GetEmployeeAndRelatves" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeData">
      <soap:operation soapAction="http://www.ics.lu.se.cali/GetEmployeeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAbsenceData">
      <soap:operation soapAction="http://www.ics.lu.se.cali/GetEmployeeAbsenceData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeRelativeData">
      <soap:operation soapAction="http://www.ics.lu.se.cali/GetEmployeeRelativeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeQualificationData">
      <soap:operation soapAction="http://www.ics.lu.se.cali/GetEmployeeQualificationData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeePortalSetupData">
      <soap:operation soapAction="http://www.ics.lu.se.cali/GetEmployeePortalSetupData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeStatisticsGroupData">
      <soap:operation soapAction="http://www.ics.lu.se.cali/GetEmployeeStatisticsGroupData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeMetaData">
      <soap:operation soapAction="http://www.ics.lu.se.cali/GetEmployeeMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAbsenceMetaData">
      <soap:operation soapAction="http://www.ics.lu.se.cali/GetEmployeeAbsenceMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeRelativeMetaData">
      <soap:operation soapAction="http://www.ics.lu.se.cali/GetEmployeeRelativeMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeQualificationMetaData">
      <soap:operation soapAction="http://www.ics.lu.se.cali/GetEmployeeQualificationMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeePortalSetupMetaData">
      <soap:operation soapAction="http://www.ics.lu.se.cali/GetEmployeePortalSetupMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeStatisticsGroupMetaData">
      <soap:operation soapAction="http://www.ics.lu.se.cali/GetEmployeeStatisticsGroupMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CronusServiceSoap12" type="tns:CronusServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetKeys">
      <soap12:operation soapAction="http://www.ics.lu.se.cali/GetKeys" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexes">
      <soap12:operation soapAction="http://www.ics.lu.se.cali/GetIndexes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTableConstraints">
      <soap12:operation soapAction="http://www.ics.lu.se.cali/GetTableConstraints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTables">
      <soap12:operation soapAction="http://www.ics.lu.se.cali/GetTables" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetColumnsForEmployeeTable">
      <soap12:operation soapAction="http://www.ics.lu.se.cali/GetColumnsForEmployeeTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIllestPerson">
      <soap12:operation soapAction="http://www.ics.lu.se.cali/GetIllestPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIllPersonsByYear">
      <soap12:operation soapAction="http://www.ics.lu.se.cali/GetIllPersonsByYear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAndRelatves">
      <soap12:operation soapAction="http://www.ics.lu.se.cali/GetEmployeeAndRelatves" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeData">
      <soap12:operation soapAction="http://www.ics.lu.se.cali/GetEmployeeData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAbsenceData">
      <soap12:operation soapAction="http://www.ics.lu.se.cali/GetEmployeeAbsenceData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeRelativeData">
      <soap12:operation soapAction="http://www.ics.lu.se.cali/GetEmployeeRelativeData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeQualificationData">
      <soap12:operation soapAction="http://www.ics.lu.se.cali/GetEmployeeQualificationData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeePortalSetupData">
      <soap12:operation soapAction="http://www.ics.lu.se.cali/GetEmployeePortalSetupData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeStatisticsGroupData">
      <soap12:operation soapAction="http://www.ics.lu.se.cali/GetEmployeeStatisticsGroupData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeMetaData">
      <soap12:operation soapAction="http://www.ics.lu.se.cali/GetEmployeeMetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAbsenceMetaData">
      <soap12:operation soapAction="http://www.ics.lu.se.cali/GetEmployeeAbsenceMetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeRelativeMetaData">
      <soap12:operation soapAction="http://www.ics.lu.se.cali/GetEmployeeRelativeMetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeQualificationMetaData">
      <soap12:operation soapAction="http://www.ics.lu.se.cali/GetEmployeeQualificationMetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeePortalSetupMetaData">
      <soap12:operation soapAction="http://www.ics.lu.se.cali/GetEmployeePortalSetupMetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeStatisticsGroupMetaData">
      <soap12:operation soapAction="http://www.ics.lu.se.cali/GetEmployeeStatisticsGroupMetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CronusService">
    <wsdl:port name="CronusServiceSoap" binding="tns:CronusServiceSoap">
      <soap:address location="http://localhost/EventkalenderWS/CronusService.asmx" />
    </wsdl:port>
    <wsdl:port name="CronusServiceSoap12" binding="tns:CronusServiceSoap12">
      <soap12:address location="http://localhost/EventkalenderWS/CronusService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>